# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=bdf55223d8d9f50380964489568be871e7796015c89227f56b8301c7c274c0f0db4a18ba25b7086421383e7662cd6accead73a82fa9c529820d0ee149b69aa3f
REDIS_URL=redis://localhost:6379/11
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
