

<p>
  <strong>Title:</strong>
  <%= @products.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @products.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @products.price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @products.sale_price %>
</p>




